<section>
    <textarea matInput placeholder="Your Message" 
        cdkAutosizeMinRows="6" maxlength="300" class="textArea" [(ngModel)]="reviewString"></textarea>
    <div>
        <!-- display the array of stars -->
        <ng-container *ngFor="let star of stars">
          <app-star [starID]="star" [rating]="rating || hoverState " (enter)="enter($event)" (leave)="leave()"
            (bigClick)="updateRating(star)">
          </app-star>
        </ng-container>
    </div>
    <button type="submit" (click)="sumbitReview()">Submit Review</button>
</section>