<div class="movie_banner" style="background-image: url({{movieBackDrop}});">
    <section class="inner_content">
        <div>
            <img src={{movieImageUrl}} class="poster">
        </div>
        <section class="details">
            <div class="movie_title">
                <h2>{{movie.original_title}}
                    <span>({{movie.release_date}})</span>
                </h2>
            </div>
            <div class="movie_info">
                <h3 class="tagline">{{movie.tagline}}</h3>
                <h3>Overview</h3>
                <h2>{{movie.overview}}</h2>
            </div>
            
        </section>
        
    </section>
    
</div>
<div class="actors_block">
    <h1>Actors</h1>
    <div class="actors_section">
    
        <app-actor-item
        class="actor_card"
        *ngFor="let actor of actors.cast.slice(0,5)"
        [actorInfo]="actor"
        [actorID]="actor.id">
        </app-actor-item>
    
        
    </div>
    
</div>

<div class="review_block">
    <h1>Reviews</h1>
    <review-component [movieTitle]="movie.original_title"></review-component>
    <app-review-list [movieTitle]="movie.original_title"></app-review-list>
</div>
