.movies_page{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}



.movie_list_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15px;
}



.search_input{
    width: 600px;
    height: 80px;
    border-radius: 9px;
    border: 1px solid rgb(3,37,65);
    outline: none;
    font-size: 2rem;
}

.search_input::after{
    border: 1px solid rgb(3,37,65);
    
}

.movie_search{
    margin-left: 40px;
    margin-bottom: 30px;

    /* align-content: center; */
    text-align: center;
    display:flex;
    flex-direction: row;
}

.search_button{
    height: 40px;
    width: 80px;
    color:#ffff;
    background-color: rgb(3,37,65);
    margin-left: 10px;
    margin-top: 20px;
    border: none;

    border-radius: 5px;

    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease-in-out;

}


.search_button:hover{
    background-color: rgb(8, 70, 121);
}

.movie_pagination_container{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pageButton{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(3,37,65);
    color: #ffff;
    font-weight: 400;
    cursor: pointer;

}

.pageButton:hover{
    background-color: rgb(8, 65, 112);
   
}

