<div class="movies_page">
    <div class="movie_search">
        <input class="search_input" placeholder="search for movie, actor, or genre" [(ngModel)]="queryString">
        <div>
            <button class="search_button" (click)="searchMovies()">Search</button>
        </div>
    </div>

    <div class="movie_list_container">
        <app-movies-page-item
        *ngFor='let movieItem of movieList'
        [movieDetails]="movieItem">
        </app-movies-page-item>
    </div>
    <div class="movie_pagination_container"></div>
</div>