.movie_item{
    /* border: 2px solid red; */
    margin-left: 40px;
    width: 150px;
    min-width: 150px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    /* transition */
    transition: all 0.4s ease-in-out;
}

.movie_item:hover{
    transform: scale(1.1);
}

.movie_img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}