.adminPage{
    display: flex;
    flex-direction: row;
}


.admin_container{
    width: 800px;
    height: 600px;
    
    margin-left: 10px;

    border: 1px solid black;

    overflow-y: scroll;
}


.review_data{
    display: flex;
    flex-direction: row;

    justify-content:space-between;

}


.review_data p {
    margin: 0 auto;
    margin-left: 3px;
    margin-right: 3px;
}


.admin_table{
    width: 100%;
    table-layout: auto;
    text-align: left;
}

/* .admin_table td{
    width: fit-content;
} */