<div class="adminPage">
      

        <div class="userContainer">
          <h1>Delete Users</h1>
          <table class="userTable">
            <thead class="userTableHead">
              <tr class="userTableHeadRow">
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody class="userTableBody"><div class="loader"></div></tbody>
          </table>
        </div>
    
  <div class="userContainer">
      <h1>Delete Reviews</h1>
      <table class="reviewTable">
        <thead class="reviewTableHead">
          <tr class="reviewTableHeadRow">
            <th>Name</th>
            <th>Contents</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="reviewTableBody"><div class="loader"></div></tbody>
      </table>
  </div>
</div>